WFAHamburgerci/MenuSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="MenuSchema">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Menu" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MenuAdi" type="xs:string"/>
							<xs:element name="Fiyati" type="xs:decimal"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
